<!-- main page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;500&family=Quicksand:wght@300..700&display=swap" 
          rel="stylesheet">
    <title>Dad Jokes</title>
</head>
<body>
    <%- include ("navbar.ejs") %>
    <div class="all">

        <div class="joke">
            <h2 id="jokeid" class="dad_joke quicksand_medium"> <%= joke %></h2>
        </div>

        <div class="options quicksand_light">

            <!-- first button -->
            <button id="generateButton" class="quicksand_light">Generate new</button>


            <!-- select form -->
            <div class="filter">
                <form id="filterform" method="POST">
                    <select class="quicksand_light" id="options" name="choose_category">
                        <option value="" selected disabled hidden>Joke from a category</option>
                        <option value="dog">Dog joke</option>
                        <option value="sport">Sport joke</option>
                        <option value="pizza">Food joke</option>
                        <option value="wife">Wife joke</option>
                        <option value="friend">Friend joke</option>
                    </select>
                </form>
            </div>

            <!-- second button -->
            <button id="saveButton" class="quicksand_light" type="submit">Save current joke</button>
        
        </div>

        <div class="information">
                <h4 id="afterSaving" class="quicksand_light"></h4>
            </div>
    </div>


    <script>
        let currentJoke;
        
        // ----------------- saving a joke ------------------
        document.getElementById("saveButton").addEventListener("click", function(event) {
            let savingButton = event.target;
            savingButton.disabled = true;
            currentJoke = document.getElementById("jokeid").innerText;
            console.log("Joke to be saved: ", currentJoke);
            event.preventDefault();
            fetch("/save", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({jokeKey: currentJoke}),
            })
            .then(response => {
                if (response.ok) {
                    console.log("Joke sent succesfully");
                } else {
                    console.log("Problem with sending");
                }
            })
            .catch(error => {console.error("Error: ", error)})
            .finally(() => {
                savingButton.disabled = false;
            });
            document.getElementById("afterSaving").innerHTML = "Joke saved!";
        });

        // -------------- generating a joke -------------------
        document.getElementById("generateButton").addEventListener("click", function() {
            fetch("/generate")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("jokeid").innerText = data.backendJoke;
                    document.getElementById("afterSaving").innerHTML = "";
                })
                .catch(error => console.error("Error: ", error));

        });

        // ----------------- filtering a joke ----------------------
        document.getElementById("options").addEventListener("change", function() {
            fetch("/filter", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: `choose_category=${encodeURIComponent(this.value)}`,
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("jokeid").innerText = data.backendJoke;
                    document.getElementById("options").selectedIndex = 0;
                    document.getElementById("afterSaving").innerHTML = "";
                })
                .catch(error => console.error("Error: ", error));
            
        });

    </script>
    
</body>
</html>