html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: url("images/alpaca_background.png");
    background-size: cover;
    background-position: center -10px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    max-width: 100%;
}

.all {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 85px;
}

h2 {
    font-size: 30px;
}

.joke {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(10, 10, 10);
}

.options {
    display: flex;
    justify-content: center;
}

/* buttons on homepage */
#generateButton, .filter select, #saveButton {
    width: 200px;
    height: 40px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#generateButton:hover, .filter select:hover, #saveButton:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
}


.filter select option {
    background-color: white;
    color: black;
}

.filter select option:hover {
    background-color: orange;
}

.quicksand_light {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

.quicksand_medium {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.information {
    display: flex;
    justify-content: center;
}

#filterform select {
    border: none;
    outline: none;
}

.navbar {
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.navbar a {
    color: rgb(20, 20, 20);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    cursor: pointer;
}

.savedpage_all {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: start;
    margin-top: 35px;
    max-height: 77%;
    overflow-y: auto;
    scrollbar-color: rgba(75, 70, 70, 0.4) rgba(255, 255, 255, 0.444);
}

.savedpage_joke {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 22px;
    margin: 10px;
    padding: 15px;
}
